.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hides the scrollbar in WebKit browsers */
}
.scrollbar-hide {
    -ms-overflow-style: none; /* Hides the scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

a.router-link-active {
    background-color: #efefef; /* slate-200 */
    color: #1d4ed8; /* blue-700 */ 
  }