<div class="lg:w-full md:w-min justify-between rounded flex flex-col  bg-slate-50 shadow-lg min-h-[calc(100vh-100px)] ">
    <div class="md:w-min lg:w-full overflow-y-auto scrollbar-hide max-h-[calc(100vh-100px)] ">
        <div>
            <ul class="md:w-min lg:w-full " style="font-size: 0.9rem; color: rgb(0, 0, 88);">
                <li class="m-3 rounded-md">
                    <button
                        class=" md:w-min flex mt-1 mx-auto p-1 lg:w-full lg:bg-blue-700 rounded-md justify-center lg:mb-5 lg:hover:bg-indigo-800 "
                        [routerLink]="['/dashboard/new-message']" routerLinkActive="router-link-active"
                        [ngClass]="{'text-gray-100 bg-blue-700': isActive('/dashboard/new-message')}"
                        >
                        <span class="lg:hidden"> <i class="p-2 pi pi-plus text-blue-700;"></i></span>

                        <p class="hidden lg:block font-medium p-1 text-white">New Message</p>
                    </button>
                </li>
                @for(tab of tabs; track tab){
                    <li class="m-3 rounded-md">
                        <div>
                            <a>
                                <!-- <button
                                    class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                                    [routerLink]="[tab.link]" [routerLinkActive]="['router-link-active']"
                                    [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive(tab.link)}"> -->
                                <button
                                class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                                (click)="onClick(tab.text)">
                                    <div class="flex">
                                        <i class="pi p-2" [ngClass]="tab.icon"></i>
                                        <p class="hidden lg:block font-medium  p-1">{{tab.text}}</p>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </li>
                }
                <!-- <li class="m-3 rounded-md">
                    <div>
                        <a>
                            <button
                                class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                                [routerLink]="['/dashboard/inbox']" [routerLinkActive]="['router-link-active']"
                                [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/all')}">
                                <div class="flex">
                                    <i class="pi pi-inbox p-2"></i>
                                    <p class="hidden lg:block font-medium  p-1">Inbox</p>
                                </div>
                                <div>
                                    <p class="hidden lg:block font-semibold p-1 mr-1 bg-slate-200 rounded">{{
                                        inboxLength() }}</p>
                                </div>

                            </button>
                        </a>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/marked']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/marked')}">
                        
                            <div class="flex">
                                <i class="pi pi-star-fill p-2"></i>
                                <p class="hidden lg:block font-medium  p-1">Marked</p>
                            </div>
                           

                        </button>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/sent']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/sent')}">
                            <div class="flex">
                                <i class="pi pi-send p-2"></i>
                                <p class="hidden lg:block font-medium  p-1">Sent</p>
                            </div>


                        </button>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/spam']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/spam')}">
                            <div class="flex">
                                <i class="pi pi-exclamation-circle p-2"></i>
                                <p class="hidden lg:block font-medium  p-1">Spam</p>
                            </div>


                        </button>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/drafts']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/drafts')}">
                            <div class="flex">
                                <i class="pi pi-file-o p-2"></i>
                                <p class="hidden lg:block font-medium p-1">Drafts</p>
                            </div>
                            <div>
                                <p class="hidden lg:block font-semibold p-1 mr-1 bg-slate-200 rounded">{{ draftsLength()
                                    }}</p>
                            </div>

                        </button>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/trash']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700': isActive('/dashboard/inbox/mails/trash')}">
                            <div class="flex">
                                <i class="pi pi-trash p-2"></i>
                                <p class="hidden lg:block font-medium  p-1">Trash</p>
                            </div>

                        </button>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/important']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/important')}">
                            <div class="flex">
                                <i class="pi pi-bookmark-fill p-2"></i>
                                <p class="hidden lg:block font-medium p-1">Important</p>
                            </div>

                        </button>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            [routerLink]="['/dashboard/inbox/mails/archieve']" routerLinkActive="router-link-active"
                            [ngClass]="{'bg-gray-200 text-blue-700 ' : isActive('/dashboard/inbox/mails/archieve')}">
                            <div class="flex">
                                <i class="pi pi-warehouse p-2"></i>
                                <p class="hidden lg:block font-medium p-1">Archive</p>
                            </div>

                        </button>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700"
                            (click)="toggleShowMore()">
                            <div class="flex">
                                @if(!showMore){
                                <i class="pi pi-angle-down p-2"></i>
                                } @else {
                                <i class="pi pi-angle-up p-2"></i>
                                }
                                <p class="hidden lg:block font-medium p-1">More</p>
                            </div>
                        </button>
                        @if(showMore){
                        <ul>
                            <li class="mt-2 rounded-md">
                                <div>

                                </div>
                            </li>
                            <li class="mt-2 rounded-md">
                                <div>

                                </div>
                            </li>
                        </ul>
                        }
                    </div>
                </li>
                <hr class="mx-3 rounded-md border-t-1 border-gray-300">
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700">
                            <div class="flex">
                                <i class="pi pi-video p-2"></i>
                                <p class="hidden lg:block font-medium  p-1">New Meeting</p>
                            </div>

                        </button>
                    </div>
                </li>
                <li class="m-3 rounded-md">
                    <div>
                        <button
                            class="md:w-min flex mx-auto p-1 lg:w-full rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700">
                            <div class="flex">
                                <i class="pi pi-chart-bar p-2"></i>
                                <p class="hidden lg:block font-medium  p-1">Join a Meeting</p>
                            </div>

                        </button>
                    </div>
                </li> -->
                <hr class="mx-3 rounded-md border-t-2 border-gray-300">
            </ul>

        </div>



    </div>
    <!-- <div class="m-3 rounded-md">
        <button
            class="md:w-min md:mx-0 lg:w-full flex mx-auto p-1  rounded-md mt-1 justify-between hover:bg-slate-200 hover:text-blue-700">
            <div class="flex">
                <i class="pi pi-user p-2 font-semibold flex"><i class="pi pi-plus font-extrabold"
                        style="font-size: 0.6rem;"></i></i>
                <p class="hidden lg:block font-medium  p-1">Add Account </p>


            </div>
            <i class="hidden lg:block p-2 rounded-lg pi pi-plus hover:bg-gray-400  bg-gray-200"></i>
        </button>
    </div> -->
</div>