<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Main</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
            
                <div>
                    <div class="w-full flex flex-col m-1">
                        <label class="text-gray-600 m-1" for="name">hCaptcha site key</label>
                        <input type="text" [(ngModel)]="sitekey" class="p-1 m-1 border border-zinc-400" />
                    </div>

                    <div class="w-full flex flex-col m-1">
                        <label class="text-gray-600 m-1" for="name">Secret key</label>
                        <input type="text" [(ngModel)]="secret" class="p-1 m-1 border border-zinc-400" />
                    </div>

                    <div class="w-full flex flex-col m-1">
                        <label class="text-gray-600 m-1" for="type">Center</label>
                        <select [(ngModel)]="center" class="form-select p-1 m-1 border border-zinc-400">
                            @for( wid of yesNo; track wid){
                            <option [value]="wid">{{ wid }}</option>
                            }
                        </select>
                    </div>

                    <div class="w-full flex flex-col m-1">
                        <label class="text-gray-600 m-1" for="type">Size</label>
                        <select [(ngModel)]="size" class="form-select p-1 m-1 border border-zinc-400">
                            @for( wid of sizes; track wid){
                            <option [value]="wid">{{ wid }}</option>
                            }
                        </select>
                    </div>

                    <div class="w-full flex flex-col m-1">
                        <label class="text-gray-600 m-1" for="type">Theme</label>
                        <select [(ngModel)]="theme" class="form-select p-1 m-1 border border-zinc-400">
                            @for( wid of themes; track wid){
                            <option [value]="wid">{{ wid }}</option>
                            }
                        </select>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>