<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Main</p-tab>
            <p-tab value="1">Plugins</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div>
                    <label class="text-gray-600 m-1" for="html">HTML code</label>
                    <textarea [(ngModel)]="code" rows="3" class="border border-gray-500 p-2"></textarea>
                </div>
            </p-tabpanel>
            
        </p-tabpanels>
    </p-tabs>
</div>