<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Main</p-tab>
            <p-tab value="1">Plugins</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                    <div>
                        <div class="flex gap-1 h-fit">
                            <button class="border border-zinc-400 px-1 rounded flex items-center" (click)="toggleButton1()">
                                <h3>{{ text }}</h3>
                                @if(button1){
                                  <i class="pi pi-angle-down p-1"></i>
                                }@else {
                                  <i class="pi pi-angle-up p-1"></i>
                                }
                              </button>
                              <hr class="border border-zinc-300 w-full mt-3" />
                        </div>
                        @if(button1){
                            <div class="mb-10">
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="type">Type</label>
                                    <select [(ngModel)]="type" class="form-select p-1 m-1 border border-zinc-400">
                                        @for( type of types; track type){
                                        <option [value]="type">
                                            {{ type }}
                                        </option>
                                        }
                                    </select>
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Name</label>
                                    <input type="text" [(ngModel)]="name" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Value</label>
                                    <input type="text" [(ngModel)]="value" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Text</label>
                                    <input type="text" [(ngModel)]="text" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="type">Center</label>
                                    <select [(ngModel)]="type" class="form-select p-1 m-1 border border-zinc-400">
                                        @for( type of yesNo; track type){
                                        <option [value]="type">
                                            {{ type }}
                                        </option>
                                        }
                                    </select>
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Class</label>
                                    <input type="text" [(ngModel)]="class" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Helper</label>
                                    <input type="text" [(ngModel)]="helper" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="type">Width</label>
                                    <select [(ngModel)]="width" class="form-select p-1 m-1 border border-zinc-400">
                                        @for( wid of widths; track wid){
                                        <option [value]="wid">
                                            {{ wid }} &#37;
                                        </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        
                        <div class="flex gap-1 h-fit">
                            <button class="border border-zinc-400 px-1 rounded flex items-center" (click)="toggleButton2()">
                                <h3>{{text1}}</h3>
                                @if(button2){
                                  <i class="pi pi-angle-down p-1"></i>
                                }@else {
                                  <i class="pi pi-angle-up p-1"></i>
                                }
                              </button>
                              <hr class="border border-zinc-300 w-full mt-3" />
                        </div>
                        @if(button2){
                            <div class="mb-10">
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="type">Type</label>
                                    <select [(ngModel)]="type1" class="form-select p-1 m-1 border border-zinc-400">
                                        @for( type of types; track type){
                                        <option [value]="type">
                                            {{ type }}
                                        </option>
                                        }
                                    </select>
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Name</label>
                                    <input type="text" [(ngModel)]="name1" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Value</label>
                                    <input type="text" [(ngModel)]="value1" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Text</label>
                                    <input type="text" [(ngModel)]="text1" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="type">Center</label>
                                    <select [(ngModel)]="center1" class="form-select p-1 m-1 border border-zinc-400">
                                        @for( type of yesNo; track type){
                                        <option [value]="type">
                                            {{ type }}
                                        </option>
                                        }
                                    </select>
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Class</label>
                                    <input type="text" [(ngModel)]="class1" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="name">Helper</label>
                                    <input type="text" [(ngModel)]="helper1" class="p-1 m-1 border border-zinc-400">
                                </div>
        
                                <div class="w-full flex flex-col m-1">
                                    <label class="text-gray-600 m-1" for="type">Width</label>
                                    <select [(ngModel)]="width1" class="form-select p-1 m-1 border border-zinc-400">
                                        @for( wid of widths; track wid){
                                        <option [value]="wid">
                                            {{ wid }} &#37;
                                        </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
    
                    </div>
              
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="w-full flex flex-col m-1" >
                    <label class="text-gray-600 m-1" for="plugin">Select plugins</label>
                    <select [(ngModel)]="plugin" class="p-1 m-1 border border-zinc-400">
                        @for( p of plugins; track p){
                            <option [value]="p">
                            {{ p }}
                            </option>
                        }
                      </select>
                  </div>
            </p-tabpanel>

        </p-tabpanels>
    </p-tabs>
</div>