<div [className]="'flex h-fit'+getWidth(item.property.width())" [cdkDragData]="item" cdkDrag>
    <div class="example-box flex justify-center items-center  w-1/4" >
        {{ item.property.label() }}
    </div>
    
    <div class="w-3/4 flex justify-center items-center flex-col " >
       <img class="w-16 h-16" src="/images/logo/recaptcha.png" alt="hcaptcha">
    </div>
    
    
    <div class="flex justify-center items-center" (click)="onClickDelete(item)">
        <i class="pi pi-trash text-gray-700 mx-2"></i>
    </div>
</div>